{%- comment -%}
    An accent image

    Parameters:
        include.layout: comma/pipe separated list of image filenames
{%- endcomment -%}


<div class="accent">
{%- assign _columns = include.layout | normalize_whitespace | replace: " ", "" | split: "|" %}
{%- for _column in _columns %}
    {%- assign _filenames = _column | split: "," %}
    <div class="accent-column">
    {%- for _filename in _filenames %}
        <img class="accent-image" src="{% include asset_url.fn filename=_filename %}" alt="" />
    {%- endfor %}
    </div>
{%- endfor %}
</div>
