{%- comment -%}
    A heading with flair icon

    Parameters:
        include.level: one of [1, 2, 3, 4, 5, 6]
        include.text: heading text
        include.flair: name of flair to show
{%- endcomment -%}


<div class="heading heading-{{ include.level }}">
    <h{{ include.level }} class="heading-title">{{ include.text | escape }}</h{{ include.level }}>
{%- if include.flair %}
    <div class="heading-flair heading-flair-{{ include.level }}">
    {%- include flair.html name=include.flair -%}
    </div>
{%- endif -%}
</div>
