{%- comment -%}
    A document preview with icon, title, and excerpt

    Parameters:
        include.document: document to render preview of
    Document Parameters:
        document.title: document title
        document.external_url: url for link, omit to use document.url
        document.excerpt: document excerpt
        document.icon: filename of document's icon asset
        document.flair: name flair to show over icon
{%- endcomment -%}


{%- assign _document = include.document -%}
{%- assign _url = _document.external_url | default: _document.url -%}

<article class="icon-preview {% if _document.flair %}icon-preview-{{ _document.flair }}{% endif %}">
    <header class="icon-preview-header">
        <div class="icon-preview-icon">
            <img src="{% include asset_url.fn document=_document filename=_document.icon %}" />
{%- if _document.flair -%}
            <div class="icon-preview-flair">{%- include flair.html name=_document.flair -%}</div>
{%- endif -%}
        </div>
        <h1 class="icon-preview-title">
            <a href="{{ site.baseurl }}{{ _url }}">{{ _document.title | escape }}</a>
        </h1>
    </header>
    <blockquote class="icon-preview-excerpt">{{ _document.excerpt | strip_html | normalize_whitespace }}</blockquote>
</article>
