{%- comment -%}
    An image preview with a link to the full size

    Parameters:
        include.filename: filename of the image in the page's asset dir
        include.alt: img alt attribute
        include.pixelated: set to true to disable antialiasing
        include.wide: set to true to disable max-width on img
{%- endcomment -%}


{%- capture _image_url -%}
    {% include asset_url.fn filename=include.filename %}
{%- endcapture -%}

{%- if include.pixelated -%}
    {%- assign _media_class = "pixelated" -%}
{%- else -%}
    {%- assign _media_class = "antialiased" -%}
{%- endif -%}

<div class="image">
    <a class="image-link" href="{{ _image_url }}">
        <img class="image-media image-media-{{ _media_class }}{% if include.wide %} image-media-wide{% endif %}"
            src="{{ _image_url }}" alt="{{ include.alt | escape }}" />
    </a>
</div>
