{%- comment -%}
    An embedded video from a streaming service

    Parameters:
        include.service: one of [youtube]
        include.id: ID of video on streaming service
        include.aspect: one of [16:9, 4:3]
{%- endcomment -%}


<div class="video">
    <div class="video-frame video-frame-{{ include.aspect | replace: ':', '-' }}">
        {%- if include.service == "youtube" -%}
        <iframe class="video-media"
            src="//www.youtube.com/embed/{{ include.id }}"
            allowfullscreen="" ></iframe>
        {%- endif -%}
    </div>
</div>
